.Caracteristicas {

    color: #fff;
    height: auto;
    background-color: #18181b;
    padding-bottom: 50px;

}

#c-1 {
    font-size: auto;
}

#c-2 {
    font-size: 0px;
}

.Caracteristicas h1 {

    text-align: center;
    margin-right: 200px;

}
.Caracteristicas h4 {

    text-align: center;
    color: #ffde59;

}

.Caracteristicas .i {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    
}

.Caracteristicas .info {

    margin: 10px;
    background-color: #2f2d2d;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .Caracteristicas {

        display: block;
    
    }

    #c-2 {
        font-size:30px;
        margin-right: 0;
        padding: 30px;
    }
    
    #c-1 {
        font-size: 0px;
    }

    .Caracteristicas .i {
        display: block;
        justify-content: center;
        align-items: center;
        
    }

    .Caracteristicas .in {
        align-items: center;
        justify-content: center;
        display: flex;
    }
    


}